[2015-04-29 11:49] zertosh opened #1 "Nice!!!"
:smile:

[2015-04-29 11:53] voronianski commented on #1
@zertosh haha thanks a lot! :sparkles:

[2015-04-30 01:06] #1 closed

[2015-07-11 00:20] judsonbomfim opened #4 "react-soundplayer + Ionic"
I'm new in the development of apps and use various plugins to play SoundCloud in an application with Ionic.

In several are giving a delay of 10s to start the audio.

I tried using Plangular, but the author pointed me this plugin,

I tried to use this plugin, the could not implement.

Someone would have an example to implement this plugin with Ionic?

I thank you!

[2015-07-15 07:56] voronianski commented on #4
@judsonbomfim I can only advice you to take a look on https://github.com/davidchang/ngReact which makes possible to use react components inside of angular apps.

[2015-07-15 07:56] #4 closed

[2015-08-10 23:13] jisaac89 opened #5 "react sound cloud not working on android"
Not working on a Samsung s6, also any chance you can provide a guide on how to set up multiple soundcloud player instances that are controlled through one parent? for example i have multiple players but I can play each one individually, when the case I want is that playing one song should pause all the other players. Other than that this component is awesome!

[2015-08-17 20:08] voronianski commented on #5
@jisaac89 thanks!

What version of android? Does it support html5 audio? It will be very handy to see some traceback.

Check example on http://labs.voronianski.com/react-soundplayer/ `SoundPlayerContainer` (https://github.com/soundblogs/react-soundplayer#soundplayercontainer) handles that for you.

[2015-08-22 20:16] tchret opened #6 "Draggable options on <Progress /> bar."
It would be really nice 👌

[2015-09-11 13:05] jeffro- opened #7 "how do you get this working properly"
Sorry if this is a noob question. Not sure how I can go about getting this on my page. Having difficulties with the whole require() thing. Is there a way to just load a script onto the page?

[2015-09-17 08:29] kirill-konshin opened #8 "Support all tracks resolveUrl"
Soundcloud has all tracks page for the artist:

[code]

I suppose SoundPlayer should support this too.

[2015-09-17 10:30] kirill-konshin opened #9 "Make SoundPlayerContainer as Higher Order Components or use context instead of magically wrapping children"
https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750
or
http://browniefed.com/blog/2015/05/02/react/
or
https://gist.github.com/sebmarkbage/ef0bf1f338a7182b6775

Much cleaner approach...

[2015-09-24 08:15] voronianski commented on #8
@kirill-konshin it's related to https://github.com/voronianski/soundcloud-audio.js and not the component itself

[2015-09-24 08:37] voronianski commented on #8
https://github.com/voronianski/soundcloud-audio.js/issues/3

[2015-09-24 08:37] #8 closed

[2015-09-24 08:43] voronianski commented on #7
@jeffro- are you familiar with npm? what is the exact problem?

[2015-09-24 08:44] voronianski commented on #6
@tchret I will consider this for the next version, thanks :wink:

[2015-09-24 08:45] #5 closed

[2015-09-24 08:51] voronianski commented on #9
@kirill-konshin actually SoundPlayerContainer IS a high-order component but I agree that using `context` will be much cleaner.

I've choosen `props` because `context` had a smell of internal thing. Probably I'll switch to context in next major version (PRs are also welcome).

[2015-09-25 22:14] surajgupta1489 opened #10 "Getting warning in console - media isn't playing"
Whenever I am trying to play a track from demo page - http://labs.voronianski.com/react-soundplayer/#ExamplePlayers

getting warning in console - Media resource https://api.soundcloud.com/tracks/201675880/stream?client_id=08f79801a998c381762ec5b15e4914d5 could not be decoded.

and media isn't playing, I have been trying in local development and getting the same issue

![screenshot from 2015-09-26

[2015-09-25 23:06] surajgupta1489 commented on #10
Seems like only having issues with Firefox browser, For chrome it's working fine.
Version I am using 41.0 - Mozilla Firefox for Ubuntu.

[2015-09-25 23:50] surajgupta1489 commented on #10
This fixed the issue for me, nothing wrong with the package, Cheers  - [How can I listen to SoundCloud on Linux without Flash?] (http://help.soundcloud.com/customer/portal/articles/1392540-how-can-i-listen-to-soundcloud-on-linux-without-flash-)

[2015-09-25 23:51] #10 closed

[2015-09-27 06:05] kirill-konshin commented on #9
They're going to make it publicly available, so it's the same kind of thing as `props`.

[2015-09-27 14:56] voronianski commented on #10
:+1:

[2015-09-27 14:57] #7 closed

[2015-09-28 08:46] voronianski commented on #8
@kirill-konshin support is added, enjoy :wink:

[2015-09-28 17:52] kirill-konshin commented on #8
Thank you!

[2015-09-28 18:36] voronianski commented on #8
@kirill-konshin FYI notice that such urls respose misses the data that is usually present in soundcloud `playlist` object.

[2015-10-06 01:15] mikedizon opened #11 "Works with React-Native?"

[2015-10-06 13:46] voronianski commented on #11
@mikedizon nope, it's a web based solution only.

[2015-10-06 13:46] #11 closed

[2015-10-06 22:44] baka101 opened #12 ""pause" and "end" events are tied to the same callback function?"
In SoundPlayerContainer.js line 62 and 63:

        soundCloudAudio.on('pause', this.onAudioEnded.bind(this));
        soundCloudAudio.on('ended', this.onAudioEnded.bind(this));

And then on line 116 to 121

    onAudioEnded() {
        const { onStopTrack } = this.props;
        this.setState({playing: false});

        onStopTrack && onStopTrack(this.soundCloudAudio);
    }

I'm trying to use th

[2015-10-07 08:23] voronianski commented on #12
@baka101 nice catch, I'll fix this ASAP!

[2015-10-08 18:15] baka101 commented on #12
I made a pull request with the quick change.  Let me know if it's valid.

[2015-10-09 07:56] voronianski commented on #12
@baka101 thanks, just updated it with `onPauseTrack` handler and released new version :+1: enjoy!

[2015-10-09 07:56] #12 closed

[2015-10-09 08:06] voronianski opened #14 "Prepare for version `0.3.x`"
- dependency on `react` and `react-dom`  v0.14.x and necessary react addons

[2015-10-25 10:46] #14 closed

[2015-12-01 10:23] kirill-konshin commented on #9
In React 0.14 some additional context improvements were added.

Also you may want to take a look on React DND project: http://gaearon.github.io/react-dnd/ as an example of `@Decorators`.

[2015-12-16 07:49] mmahalwy opened #15 "demo page not present"

[2015-12-16 08:15] voronianski commented on #15
@mmahalwy ooops, thanks, will be fixed in 30 mins

[2015-12-16 08:31] voronianski commented on #15
fixed

[2015-12-16 08:31] #15 closed

[2015-12-16 22:36] mmahalwy commented on #15
@voronianski thanks!

[2016-01-28 09:29] ZeoNish opened #16 "volume control"
Is it possible to add volume control?

[2016-01-28 10:38] voronianski commented on #16
@ZeoNish it's possible, just need some time for this

[2016-01-28 10:47] ZeoNish commented on #16
Эта функция. Будет очень полезной.

[2016-02-09 05:18] gbezyuk opened #17 "Preventing default click events"
Using provided PlayButton, NextButton etc. components, I end up being unable to prevent default click events, without hacking the lib's source code. So, if I, for instance, integrate the react-soundplayer in a form, any click is submitting it, which is not, by any means, a desirable behaviour.
From my perspective, it seems like react-soundplayer should run e.preventDefault() on any of it's control

[2016-02-19 10:06] pimenteljchristopher opened #18 "A sample ionic app using react"
I would like to develop a ionic using react still having problem where to start. Can you please advice how do i proceed ?

[2016-02-19 10:08] voronianski commented on #18
@pimenteljchristopher sorry, I've never worked with Ionic and React.

[2016-02-19 10:08] #18 closed

[2016-02-19 10:59] jiku opened #19 "Going past SoundCloud"
Not that I think SoundCloud is going anywhere, despite their [funding issues](http://www.nme.com/news/various-artists/91458), but it'd be cool to have some options. A self-hosted Web Audio solution to begin with. I guess it really should be at soundblogs/web-audio, soundblogs/soundcloud-audio, etc? As sources. I'm sure all this is already on your radar somewhere, but just thought I'd open an issue

[2016-02-19 11:07] voronianski commented on #19
@jiku sorry, are you talking about https://github.com/voronianski/soundcloud-audio.js that needed to be more general solution?

[2016-02-19 11:09] jiku commented on #19
@voronianski jup. If you'd like to extend the player to be coupled towards other sources as well?

[2016-02-19 11:12] voronianski commented on #19
@jiku but what sources are you talking about?) this module is just a simple wrapper around `<audio />` that makes it a little bit easier to work with soundcloud resolve api and data. Though I think it's possible to move some of its' core into separate module but not sure whether it's needed for community.

[2016-02-19 11:37] jiku commented on #19
Could be many of the services [here](http://musicmachinery.com/music-apis/). That list is ~3 years old, so maybe not. :) In my case it'd be to stream audio from common remotes like the production server, AWS (S3, Cloudfront, etc), Google Cloud, etc.

Motivation past that might be to future-proof in the event something happens with SC, or some other source. So people aren't too reliant on any parti

[2016-02-20 11:26] voronianski commented on #17
@gbezyuk I've published fix (https://github.com/soundblogs/react-soundplayer/commit/f5e884a50f910d9dcb9872f4edf0d4909ebb4d94) in `0.3.2`.

Few details:

- I'm not calling `e.preventDefault` directly but passing `event` instance to button handlers where it can be used.
- also I've added `type="button"` to button tags in order to prevent unnecessary form submits.

[2016-02-20 11:26] #17 closed

[2016-02-20 11:28] gbezyuk commented on #17
@voronianski great, thanx!

[2016-02-28 09:44] anchetaWern opened #20 "progress doesn't seem to be updated"
I can't seem to get the progress bar to work. Something was mentioned about passing in the `soundCloudAudio` prop but I'm not really sure how to do it.

var client_id = 'xxxx';
var stream_url = 'https://api.soundcloud.com/tracks/200494743/stream';

<SoundPlayerContainer streamUrl={stream_url} clientId={client_id}>
  <PlayButton className="orange-button" />
  <Timer />
  <Progress />
</SoundPlayerC

[2016-02-28 13:43] voronianski commented on #20
@anchetaWern did you check the example player with progress - https://github.com/soundblogs/react-soundplayer/blob/master/examples/players/ProgressSoundPlayer.js ?

[2016-03-01 02:06] mrjcleaver opened #21 "Can this slow down tracks?"
Like https://github.com/fleidloff/SC-SlowDowner

Thanks, Martin

[2016-03-01 10:50] anchetaWern commented on #20
thanks! I didn't see that. It's working now. I'm closing this.

[2016-03-01 10:50] #20 closed

[2016-03-31 13:01] voronianski commented on #21
@mrjcleaver react-soundplayer is just a set of react components for building audio players (with some helpers to build SoundCloud based players). Any audio logic/manipulation like "slow down" is not in the scope of this library.

[2016-03-31 13:01] #21 closed

[2016-03-31 13:04] voronianski commented on #19
@jiku in plans I have a blog post about react-soundplayer and tutorial on how using it with different services (not only SoundCloud) but for now I'm closing this issue.

[2016-03-31 13:04] #19 closed

[2016-03-31 13:44] voronianski opened #22 "Move SoundPlayerContainer (and possible HOC) to separate module"
Let's try to make from react-soundplayer a set of tools to build react based audio players and NOT ONLY react soundcloud players. In order to achive this we need to separate concerns:
- leave only common components in this library (Buttons, Icons, Progress, Timer, Cover etc.)
- move container to separate modules (it can be called as `react-soundplayer-addons` and contain different helper container

[2016-03-31 13:51] voronianski opened #23 "Test components"
It will be nice to have all components tested. Take a look on:
- [enzyme](https://github.com/airbnb/enzyme)
- [ava](https://github.com/sindresorhus/ava)

[2016-03-31 13:53] voronianski opened #24 "Update demo site"
All changes in API and module design should be reflected on demo site.

[2016-04-27 05:14] dnlsandiego commented on #20
Having the same issue. Checked the example player but nothing in there stands out to be something I am missing. @anchetaWern Can you share you fix? @voronianski Has the progress API changed?

[2016-04-27 18:35] dnlsandiego opened #28 "Progress bar not updating"
Having the same issue as #20 but no solution so far. The progress bar is just at max 100% instead of starting a 0 and progressing along with the song playing. No errors in the console as well. I'm probably just missing a proper usage of the component but I'm going along with the docs.

I made a repo to reproduce this issue: [react-soundplayer-progress-component-issue](https://github.com/dnlsandieg

[2016-04-29 12:24] voronianski commented on #28
@dnlsandiego did you figure out what was wrong?

[2016-04-29 18:50] dnlsandiego commented on #28
@voronianski I did. It was mainly my usage of the components that was causing the problem and that the README docs are quite outdated, mainly the `Progress` part.

Looking at the `Progress` component, I'm getting that its meant to have a `value` prop passed in to control the progression but `SoundPlayerContainer` doesn't automagically pass that value in; which is fine but when using `Progress` as

[2016-05-03 09:40] voronianski commented on #28
@dnlsandiego solved by https://github.com/soundblogs/react-soundplayer/pull/30

[2016-05-03 09:40] #28 closed

[2016-05-14 12:35] osuosu opened #31 "Fleshing out getting started section?"
I'm really stuck even trying to get the demos for this sorted. Is there any way you could do add more details like a step-by-step introduction on how to properly set this up on something like on a local MAMP set up?

Thanks,

Osu

[2016-05-21 14:06] sascha1337 opened #33 "Can i use raw MP3 with this library ?"
Hi, what if i don't want to play a soundcloud link - instead i have served mp3 on my server.
is this possible with this library or is this the wrong repo

thx !

[2016-06-03 16:35] CaptainChemist opened #34 "Multiple players on a page sometimes don't load"
I'm having an issue where I have a page that has 5 or more <SoundPlayerContainers> on it and when I load the page, sometimes several of the buttons will remain "Loading" forever. Has anyone else experienced this and is there a better way to do this?

[code]

You can see it in action on: www.babeswatchbuffy.com

Thanks so much!

[2016-06-09 07:13] ZeoNish commented on #16
Volume control is postponed?

[2016-06-12 21:37] crr commented on #33
Have the same question, would love to know if there is any way to use this with self-hosted files.

[2016-06-14 15:10] sbauch commented on #34
Seems like this is coming from `soundcloud-audio` - https://github.com/voronianski/soundcloud-audio.js

I don't know a ton about JSONP, but I think the issue might actually be the id of the script tag that is added to the DOM. Could it be possible that the heuristic used is causing collisions in script tags such that if two instances get a response at the same time, one of the tags would be overwr

[2016-06-15 09:17] voronianski commented on #34
@CaptainChemist please run `npm install` in order to update soundcloud-audio dependency. The issue with random jsonp callback is fixed - https://github.com/voronianski/soundcloud-audio.js/commit/eebafc89d76b6ec120340d43c7b8d286332cda6d /cc @sbauch

[2016-06-15 09:18] voronianski commented on #34
@CaptainChemist also please take a look on the page in examples https://github.com/soundblogs/react-soundplayer/blob/master/examples/app.js (http://labs.voronianski.com/react-soundplayer/) - there are also multiple players on it.

[2016-06-17 17:37] CaptainChemist commented on #34
Thank you that totally fixed my issue!

[2016-06-17 17:37] #34 closed

[2016-06-30 14:55] ruffrey commented on #24
The demo site is currently broken, for me. Not sure if this issue is related.

`bundle.min.js?21062016:2 Uncaught TypeError: Cannot convert undefined or null to object`

![image](https://cloud.githubusercontent.com/assets/1668190/16492804/ee3ae272-3e97-11e6-9e13-25cffe9214aa.png)

[2016-07-01 01:59] janjon opened #36 "examples npm start error"
`Error: Cannot find module 'react' from '/Users/lzz/Documents/projects/learning/react-soundplayer/examples'`

[2016-07-17 01:51] mikeebee opened #38 "Update peer dependencies to to avoid errors"
Hi, would it be possible to update the React peer dependencies? I'm using it with React `15.2.1` and, it's working fine. The only slight thing I had to change was having to pass `soundCloudAudio` props to `<Timer />`.

Thanks!

[2016-07-27 11:20] magicspon opened #40 "odd bug only fires on small screens"
Hello,

This is a bit weird. I'm getting the following error when I use a phone emulator in chrome, or set my browser width to be less than a portrait ipad.

[code]

which points to
// componentDidMount

[code]

any thoughts?  Everything is still working... very odd!

thanks
Dave

[2016-07-28 17:03] monkpit opened #41 "Create typings definition for TypeScript"
Please :)

[2016-07-30 12:40] voronianski commented on #41
@monkpit pull request is welcomed ;)

[2016-07-30 14:42] joewestcott opened #42 "Missing ./lib when installing from GitHub repository"
When installing with
`npm install --save soundblogs/react-soundplayer`

I get
`Error: Cannot find module './lib/components'`

It seems as though the `./lib` directory is not present. It would be useful to install via this method to try out my own fork(s) of the project.

[2016-07-30 15:41] joewestcott commented on #42
`npm install -g babel` and `npm run build` seems to fix the issue.

[2016-07-30 15:41] #42 closed

[2016-08-01 02:10] joao-gsneto opened #48 "Upgrade to React 15.x"
Try to install in react 15.1.x project

npm ERR! peerinvalid Peer react-soundplayer@0.3.6 wants react@^0.14.x

[2016-08-05 08:57] voronianski commented on #48
@joao-gsneto will do ASAP.

[2016-08-05 09:03] voronianski commented on #33
@sascha1337 @crr it's possible to use library's [pure components](https://github.com/soundblogs/react-soundplayer#pure-components) with self-hosted mp3 files. You will need to create your own container component that will deal with audio and pass props to the components.

Probably I will create a tutorial to demonstrate how it works and will put few lines in README as well.

[2016-08-05 09:10] voronianski commented on #31
@osuosu I plan to create a blog post that will cover this issue https://github.com/soundblogs/react-soundplayer/issues/33 and also some sort of getting started.

For now you can check this tutorial which describes how to use module in electron app - https://www.sitepoint.com/music-streaming-app-electron-react-es6/.

Also check pls the example players and how they are structured - https://github.co

[2016-08-05 09:17] joewestcott commented on #48
I've been having issues in with SVGs in react v15.2, something that was fixed in v15.3 by the way.

[2016-08-05 09:28] voronianski commented on #48
@joewestcott 15.3 is our goal then :)

[2016-08-05 09:30] #36 closed

[2016-08-05 09:30] #38 closed

[2016-08-05 09:36] joewestcott commented on #48
or `^0.14.8 || ^15.3.0`?

[2016-08-07 21:37] voronianski commented on #48
@joao-gsneto @joewestcott updated the package with npm with React v15 support. It's with `prerelease` tag for now because I want to add few resolved issues into v1. Install it like `npm i react-soundplayer@prerelease`.

[2016-08-07 21:37] #48 closed

[2016-08-07 21:45] voronianski commented on #24
@ruffrey fixed!

[2016-08-07 21:45] #24 closed

[2016-08-08 16:04] magicspon commented on #40
I'll try and get an isolated test for you.

thanks

[2016-08-08 16:05] ruffrey commented on #24
WOO HOO

On Sun, Aug 7, 2016 at 2:45 PM, Dmitri Voronianski <notifications@github.com

--
Phone: +1-916-801-6693

[2016-08-09 17:30] joao-gsneto opened #52 "How umount (or pause) component after change page or call a action?"
I'm developing a custom player and /play is a custom route and render a soundcloud component.
But on change URL, click back or hide the app the soundplayer stills playing the song, even by setting the sound to null onDidUnmount action.

I can programmatically invoke an action to stop the player?

[code]

[2016-08-15 12:55] #52 closed

[2016-08-26 09:55] magicspon opened #53 "Doesn't work in ie11"
Hello,

I'm having issues getting this to work with IE11.  The demo site is also not working in ie11.  Pressing play on the examples doesn't do anything.

The error is in the _jsonp function

`script.src = _appendQueryParam(url, 'callback', id);`

IE throws error saying 'invalid property type'

Any thoughts?

[2016-08-26 09:56] magicspon commented on #16
It's easy enough to implement this:
[code]

and

[code]

[2016-08-29 14:01] magicspon commented on #53
Can anyone shed any light on this?

I've made a copy of soundcloud-audio and changed the jsonp function to use a promise based one (fetch-jsonp) and I'm getting pretty much the same error.

I've also noticed that a few other soundcloud react components aren't working in ie11.  Wondering if something on the soundcloud side of things is borked.

waaaaa! :(

[2016-09-01 15:03] superhighfives commented on #53
Ran into the same problem on https://koya.brailleface.co, but it looks like it's an issue with the https://github.com/voronianski/soundcloud-audio.js/ package.

I've rolled back to soundcloud-audio 0.1.7 and it's working fine.

[2016-09-06 21:41] a-s-f opened #54 "Next Button Not Working Properly"
I am not sure whats going on with my playlist player, I keep getting:
NextButton.js:56 Uncaught ReferenceError: e is not defined

The next button changes the song but is not properly changing the "is-active" class of the song. But if I click on a song then click previous button it works as expected.

I attached my main.js file where I have the playlist player code, which come from React Static Boi

[2016-09-07 22:45] a-s-f commented on #54
i was able to send it up here https://shffl-dqytnlsxdk.now.sh/ It is saying I am not using playlist but the playlist is working but the buttons are not as you can see

[2016-09-15 17:52] a-s-f commented on #54
it was a version issue fixed by issue #48

[2016-09-16 21:40] #53 closed

[2016-09-16 21:41] #54 closed

[2016-09-22 15:20] a-s-f opened #56 "Trigger Next Button with onAudioEnded() ?"
Hey guys I am still new to react and wondering how to make this happen, I am stuck in jQuery ways.

[2016-10-06 07:36] adamwan92 commented on #52
@joao-gsneto Hey man, i saw that you closed this issue. Did you manage to figure it out?

[2016-10-06 16:55] joao-gsneto commented on #52
@adamwan92 just configure a unique key for the player component for all of your songs, so, when you change the component to another song the player change and work well.

[2016-10-07 04:37] adamwan92 commented on #52
Cool, thanks for the reply! Will try that out too. I also figured out how to pause the player when unmounting the component:

`componentWillUnmount(){
      let { soundCloudAudio } = this.props;
      soundCloudAudio && soundCloudAudio.pause();
    }`

[2016-10-28 22:56] mxmtsk commented on #33
+1 because the player looks just super cool!

[2016-10-29 22:07] voronianski commented on #16
@ZeoNish there is a draft component in `1.0.0-rc4`. Thanks to @joewestcott.

[2016-10-29 22:07] #16 closed

[2016-10-29 22:11] voronianski commented on #9
Added in `react-soundplayer@1.0.0-rc4`.

[2016-10-29 22:11] #9 closed

[2016-10-29 22:12] voronianski commented on #40
@magicspon no updates on this issue?

[2016-10-29 22:19] voronianski commented on #56
@a-s-f just `onStopTrack` prop:

- https://github.com/soundblogs/react-soundplayer/blob/master/src/addons/withSoundCloudAudio.js#L115
- http://labs.voronianski.com/react-soundplayer/#SoundPlayerContainer

[2016-10-29 22:19] #56 closed

[2016-10-30 09:28] voronianski opened #58 "Block "Who's using""
If you're using react-soundplayer in your projects or companies pls leave the info in comments of this issue:

- project/company name
- website link
- logo (optional)

[2016-10-30 09:33] voronianski commented on #58
@joewestcott 👆

[2016-10-30 17:50] joewestcott commented on #58
Neat idea! My site, [Dragon Media](https://dragonmedia.uk), is a student run media outlet which uses this component.

[2016-10-31 10:58] magicspon commented on #40
Hello,

I've just taken a look at it seems to have gone away. spoooky! (http://www.wearestraightline.com/)

ta

[2016-10-31 16:07] #40 closed

[2016-11-09 09:31] adamwan92 commented on #33
Any ideas how to do this? Would like to use raw MP3s as well

[2016-11-14 15:09] c00kiemon5ter opened #61 "Doesn't work on IE 11 - invalid property value"
Hi there, I've already looked at #53 and there are still problems with IE 11.
I think this is a different problem, so I made this a separate issue.

On http://labs.voronianski.com/react-soundplayer/#ExamplePlayers IE 11 console outputs
[code]

On my site (with debugging enabled) I get
[code]

I am using react-soundplayer 1.0.0-rc4 and soundcloud-audio 1.0.4

Do you have any ideas I could test?

[2016-12-12 01:13] cameronroe opened #62 "cover.css breaks with webpack"
Importing `cover.css` throws `cover.css:6 Uncaught Error: Cannot find module "./"(…)`

The `url('')` is trying to resolve a module.

[2016-12-24 06:34] Chase-Klingel opened #63 "SoundPlayerContainer Not Displaying Iframe"
Hi, I would love to get some help. Below is my code and nothing renders. There is also no errors in the console. I took the example directly from the example page. Any ideas why this wouldn't be rendering? I absolutely love the look of some of your sc players and would really love to use this!

`import React from 'react';
import { SoundPlayerContainer } from 'react-soundplayer/addons';
const clien

[2016-12-31 01:01] gpoulet opened #64 "Continue reading playlist after track's end"
Hello,

Congratulations for your job ! Integration with my web site was relatively simple.

However, when a track is finish, the player doesn't read the next track. Is it normal ? How can I do that ?

Best regards,

[2017-01-19 16:28] jhawbrey opened #66 "Safari issue loading SoundCloud audio stream"
Safari 9.1.2 is not able to return SoundCloud stream due to the following error:

[code]

I built the current /examples and was able to replicate the issue. This issue does NOT occur on the older /examples that is hosted at http://labs.voronianski.com/react-soundplayer/.

[2017-02-18 06:49] gangstafat commented on #64
I'm having the same problem too.

[2017-03-20 20:35] alekseychaikovsky commented on #33
anyone manage to put something together with raw mp3s and have an example?

[2017-04-11 11:54] akaipham opened #67 "Missing VolumeControl Component"
I just clean install this package, but when I:
`import { PlayButton, Progress, VolumeControl, Icons } from 'react-soundplayer/components';`
It yields error missing VolumeControl. I watched the folder module/lib/component, and ya, it's missing this component...

[2017-05-28 17:18] cmmartin commented on #67
The npm build hasn't been updated in 11 months. There is also no `withSoundCloudAudio` addon in the npm version

@voronianski can you publish the latest to npm?

[2017-07-12 17:10] wajerrr opened #69 "add 'ended' event callback"
Hi,
I have started using your component few weeks ago in my own project.
It is amazing!

I am not sure if anyone else would find useful to add callback for 'ended' event

in my case I need it to create custom playlist (array of SC tracks playing next one on previous ended)
I would be super happy to contribute and make PR with this change,
if you find it  helpful/ useful
cheers

[2017-07-24 15:59] xih opened #71 "DEMO IS NOT WORKING."
https://labs.voronianski.com/react-soundplayer

![image](https://user-images.githubusercontent.com/8076886/28532329-ccf71664-7099-11e7-9865-5396f1c8b4bf.png)

[2017-08-09 02:59] jamesdbruner commented on #71
Bump, but a different error now.

[2017-08-09 14:29] voronianski commented on #71
@xih @jamesdbruner thanks, it's fine right now.

However my soundcloud api client id is probably overused by someone else and there are no `remaining_requests` which means it's not possible to play the songs on the page. That sucks because it's quite hard to get new client id due to SoundCloud new policies.

[2017-08-09 14:29] #71 closed

[2017-08-09 14:30] voronianski commented on #69
@wajerrr it's not documented but you can use it - https://github.com/soundblogs/react-soundplayer/blob/master/src/addons/SoundPlayerContainer.js#L35-L36

[2017-08-09 14:30] voronianski commented on #69
Stay tuned for upcoming updates and new docs!

[2017-08-09 14:30] #69 closed

[2017-08-09 14:32] voronianski commented on #66
It was issue related to https://github.com/voronianski/soundcloud-audio.js/issues/16.

[2017-08-09 14:32] #66 closed

[2017-08-09 14:38] voronianski commented on #67
@akaipham @cmmartin pls use latest rc version for now (e.g. `npm ls react-soundplayer` to list all versions), `1.0.0-rc4` is the latest.

[2017-08-09 14:38] #67 closed

[2017-08-09 14:40] voronianski opened #72 "RELEASE NEW MAJOR VERSION"
## Main goals

- ~~make sure it works with latest React version~~
- ~~update docs with all new features from RC that are not documented yet~~
- ~~fix style issues on example page (e.g. volume control)~~
- ~~fix css lint update~~
- ~~check bug issues~~
- ~~add block who's using~~
- ~~add non-soundcloud audio example~~

[2017-09-24 12:21] DalerAsrorov opened #73 "onReady callback doesn't seem to work"
Tried to use the `onReady` props callback but it is never being called. Is there a way to resolve this issue? Would appreciate any help!

[code]

[2017-09-25 09:54] JamieRobertson commented on #58
We use react soundplayer on our site https://www.propellerheads.se/
I have made some customizations to the way it is rendered, but `SoundPlayerContainer` is imported as is. I would also like to contribute to this project to help release a stable 1.0.0 version.

[2017-09-25 10:16] voronianski commented on #58
@JamieRobertson hey, this is awesome! I'm happy to hear that such great company uses this lib!

I'll be very glad if you'll contribute to the project. Recently I didn't have much time for it but hopefully we can change it.

[2017-09-29 20:10] voronianski commented on #61
Related to https://github.com/voronianski/soundcloud-audio.js/issues/10, should be fixed already.

[2017-09-29 20:10] #61 closed

[2017-09-29 20:21] voronianski commented on #64
Please take a look on the example implementation with playlist https://github.com/soundblogs/react-soundplayer/blob/master/examples/players/PlaylistSoundPlayer.js

You need to implement managing of active playlist index in player's state by yourself. As you can see in the example below it's just a matter of using proper components and callbacks:

[code]

[2017-09-29 20:21] #64 closed

[2017-09-29 20:21] #6 closed

[2017-09-29 20:31] voronianski commented on #62
thanks, fixed, check version `1.0.0`

[2017-09-29 20:31] #62 closed

[2017-09-29 20:32] #23 closed

[2017-09-29 20:42] voronianski commented on #73
working in 1.0.0, it will be in npm asap

[2017-09-29 20:42] #73 closed

[2017-09-29 20:44] voronianski commented on #63
Your `render` method is not returning nothing, is it by mistake? And `onReady` callback works in 1.0.0 that will be in npm asap.

[2017-09-29 20:44] #63 closed

[2017-09-29 20:49] #22 closed

[2017-10-01 00:12] #31 closed

[2017-10-01 09:33] #72 closed

[2017-10-01 09:48] voronianski commented on #33
Now you can use custom audio source - https://github.com/soundblogs/react-soundplayer#custom-audio-example, just update to latest `1.0.0`.

[2017-10-01 09:48] #33 closed

[2017-10-16 20:33] maheshambiga opened #74 "Doesn't to stop audio when component is unmounted."
Audio continues to play when browser back button is hit or navigated to other pages via react-router.

[2017-11-30 14:23] kondricz opened #76 "Cant stop the Audio going unless click on the PLAY/STOP button"
Hi,

First of all, thank You for the amazing work, it has been a pleasure to Use the SoundPlayer. However we faced a big issue. We have a menu, which toggles content in the main view. For Each content a different audio is attached. It is not starting automatically, only if the user clicks on it.

Something like this:

![react_player_bug](https://user-images.githubusercontent.com/30053409/33435054-

[2017-11-30 14:42] voronianski commented on #76
hey! your app looks cool, feel free to share the link here - https://github.com/kosmetism/react-soundplayer/issues/58

regarding issue - you need to stop player from playing manually. What you're doing now it's just simple re-render of plain components which are rendered inside higher-order container. Container provides `soundCloudAudio` instance  in `props` which you can use to control audio (che

[2017-11-30 17:22] kondricz commented on #76
Thanks for the answer.
I digged up closed issues where I have seen this before. Unfortunatelly, your solution was not working. I called this function ( .pause() ) too, but the audio didn't stop.
I literally placed that everywhere:
your solution, before the render(), in the render()... but was not working.

Can it be the reason, that we dont have any registration, nor client_id at soundcloud-audio?

[2017-12-10 02:11] dnlsandiego commented on #76
Can you try this solution below? I believe the issue here is that when you navigate from content to content which causes re-rendering of the components, the underlying audio object is still playing. Your component will have to be refactored to a class component as it will need a react lifecycle hook.
[code]

[2017-12-10 03:13] dnlsandiego opened #78 "Consider adding a `engines` property in package.json"
Might want to consider adding a `"engines": { "node": NODE_VERSION_RANGE }` in the package.json of the project. I was working on a PR locally earlier and I experienced some trouble installing the dependencies mainly because of `package-lock.json` and I suspect it was because I did not have the compatible node version.

[2017-12-20 13:04] voronianski commented on #76
should be fixed in version `1.0.4`

[2017-12-20 13:04] voronianski commented on #78
added

[2017-12-20 13:04] #78 closed

[2017-12-20 13:04] voronianski commented on #74
should be fixed in version `1.0.4`

[2017-12-20 13:04] #74 closed

[2017-12-20 13:04] #76 closed

[2017-12-30 01:15] gpoulet commented on #64
My fix (it's never too late ;-) ) :
add to PlaylistSoundPlayer.js :
[code]

[2018-03-14 03:31] ridhwaans opened #79 "PlayButton in Custom Audio player (AWSSoundPlayer) not working"
I made a custom audio player component which takes in streamUrl like the example

[code]
the player then propagates the streamUrl to all subcomponents like Playbuttons, Timer, Progressbar

Clicking on the PlayButton component doesnt do anything

[2018-03-14 08:03] voronianski commented on #79
@ridhwaans can you show me your component code?

[2018-03-14 08:44] ridhwaans commented on #79
@voronianski
I'm sending props to the component from another component
[code]

This is the class with the component code `var MusicPlayer = withSoundCloudAudio(...)`

[code]
I didnt hardcode `duration`, `currentTime`, or `clientId` in the props,
I assume `Timer`, `VolumeControl` and `Progress` will get the props from `withSoundCloudAudio`, but I dont think its working, `Timer` shows "00:00 / 00:00

[2018-03-14 10:50] voronianski commented on #79
@ridhwaans so -

- please make sure you have the latest version - `1.0.4
- you are creating component `withSoundCloudAudio` inside `render` which is not correct
- there are no `onPlayClick` prop support, use `onTogglePlay`

check this repo with working example - https://github.com/voronianski/test-custom-react-soundplayer

[2018-03-14 10:50] #79 closed

[2018-03-14 11:05] voronianski commented on #79
demo - https://voronianski.github.io/test-custom-react-soundplayer

[2018-03-20 13:36] itsmidnightyo opened #81 "Implement WaveSurfer.js"
It would be cool to have the ability to add a waveform like SoundCloud using [wavesurfer.js](https://wavesurfer-js.org/), but add the ability to drag / customize it within a component or something.

I was also wondering if 'react-soundplayer' has the ability to control multiple tracks and stand as a standalone player, and just call those tracks individually from somewhere else on the page?
If you

[2018-03-26 17:58] ridhwaans opened #82 "Create Repeat track/all component"
It seems that react-soundplayer is missing a Repeat component for the soundcloud audio playlist.
Also, it would be nice to have a stack implementation of playlist history or recently played tracks

[2018-04-02 16:55] mangione77 opened #83 "Install react-soundplayer deletes react-scripts"
I have an issue when installing your lib.

Every time I try to install it, after npm install react-soundplayer --save, everything goes fine, except when I try to run my React app with npm start - that's when i get:

`'react-scripts' is not recognized as an internal or external command`

It may be some conflict with your lib and npm.

I'm currently running Windows 10 Home, node v8.9.0 & npm 5.6.0

[2018-04-15 21:57] ridhwaans opened #84 "How to achieve track fine seeking/scrubbing on Progress component"
In the `PlaylistSoundPlayer.js` demo on https://labs.voronianski.com/react-soundplayer/, how do you achieve fast fowarding or rewinding the track while clicking on the Progress bar? I have a readstream in the back like so but I am unable to reproduce the same behaviour

[code]

[2018-05-08 11:16] juanda99 opened #85 "How to get the end of the audio?"
When the audio is finished, the icon stays with a pause icon, no play icon, using customAudio.

See here: https://codesandbox.io/s/yzqw85lzj

[2018-05-08 11:43] juanda99 commented on #85
Solved!. props instead of state!

[2018-05-08 11:43] #85 closed

[2018-05-28 18:34] scrat98 opened #86 "requestAudio in componentWillReceiveProps"
https://github.com/kosmetism/react-soundplayer/blob/2863b9d1ff8f233e45ace1610c959be3ccd2bbc9/src/addons/withSoundCloudAudio.js#L51

When you wnat dynamical update components with differents streamUrl - it will be fail because requestAudio invokes only once

[2018-06-12 16:16] marsouin opened #87 "handleSeekTrack for custom audio"
Hi, thank you for this fantastic player.
I was wondering if it was possible to handle clicks on the progress bar for non soundcloud players. In the component, `handleSeekTrack` requires soundCloudAudio which doesn't exist in a custom player. For now when I click it just resets the currentTime to zero...
Also it would be really nice not to have the clientID warning in `withSoundCloudAudio` when usi

[2018-07-10 11:30] imhuyqn commented on #86
How do we solve this problem?

[2018-07-10 11:46] scrat98 commented on #86
@imhuyqn I used React ref and saved instance. And when I changed the URL I persist used ref.requestAudio. But next I switch to the "react-player" library as you can see here
https://github.com/scrat98/audio-streaming-site/commit/e51502ecfedbd221e2da0ad00456ee975e792a07

[2018-08-01 17:03] jpfiorilla commented on #58
Hey Dmitri, thank you for this library! It's been great learning it and using it to develop my site. I feel like it gives me unlimited creative potential for design. Here are my details; thanks again!

project/company name: John Fio
website link: audiosprite.com
logo (optional): https://imgur.com/a/bEU07J0

[2018-08-09 08:23] davidfloegel opened #88 "Autoplay on custom stream urls?"
Hi,

great plugin!

Is there a way to autoplay a custom track once the player has been mounted?

Thanks

David

[2018-08-09 20:17] steveabouem commented on #88
Running into same issue. In my player component, I tried "this.props.playing = true" on componentDidMOunt() but got the following error: "Cannot assign to read only property 'playing' of object '#<Object>' ". I'm currently trying to use Object.assign to make a copy of the props object and change the key from there but I doubt it will work.

[2018-08-09 21:50] steveabouem commented on #88
Figured it out. I manually triggered a click event on the button.
` async componentDidMount() {
/*get the button itself(i had 2 on my page)*/
    const button = window.document.getElementsByTagName('button')[1]
/*wait for the props to come in, in order for the click event to be called*/
    await this.props
/*manually trigger the click event.*/
    button.click()
  }`
This is the only lifecycle me

[2018-08-10 12:56] Matsyir opened #89 "[Help/Support] How to integrate existing player into page"
Hey guys just a noob here who's having issues setting up the plugin... I'm new to React as well but I don't think that's the root of my issue. Any help would be greatly appreciated. I'm trying to set up the "PlaylistSoundPlayer" to play through all my tracks on soundcloud: initially tried with the /tracks link, then made a playlist with all my releases since I dont think it will work with tracks.

[2018-08-10 14:02] jlariza opened #90 "styles not loading"
Good day,

I am trying to use the library; I have implemented two examples (BasicSoundPlayer.js and ProgressSoundPlayer.js) but they styles are not loading. The components work, they start and stop the music when I hit play or pause, but they look like this on chrome

![image](https://user-images.githubusercontent.com/16421045/43961947-efa0bf80-9c7b-11e8-90ec-2c899cb9843c.png)

On firefox, the pla

[2018-08-10 16:14] Matsyir commented on #90
Are you loading the styles with HTML? Load them in your React page where you load/create the players, using 'import "../nextcss/buttons.css"', or whatever the path is in your project. I had the same issue when loading the CSS through HTML. I don't know enough about React to tell you why this happens or how to change the behavior.

[2018-08-14 13:51] jlariza commented on #88
Hi! I have the same issue; I have not been able to use autoplay on a custom url.

[2018-08-14 19:01] jlariza commented on #86
Hi! I am having the same issue. Any updates on this bug?

[2018-08-16 10:13] voronianski commented on #90
In order to load styles you need to write proper paths to them. Use styles for components that you are using.

In JS:
[code]

in HTML:
[code]

[2018-08-16 10:13] #90 closed

[2018-09-05 12:40] loudmouth opened #91 "Enable overridding css classes and children in components"
Hey, firstly, thanks so much for this library. As a non-JS/React developer, I found the project easy to navigate and get integrated into my site.

Now, I've reached a dilemma: I'd like to do custom styling and use custom SVG icons on all the buttons, progress bars and other components, but it seems that classes from the library itself are always applied; an [example here](https://github.com/kosmet

[2018-09-14 21:09] pycarlos commented on #88
Hello, Any update?

[2018-10-25 08:40] hansfpc commented on #88
Any update?

[2018-10-26 21:30] SmithPeder commented on #58
Hello. Thanks for this great library. Quite easy to use, and easy to modify using the modular system.

project/company name: Abakus
website link: abakus.no/podcast
logo (optional): https://i.imgur.com/n2Rr3Ly.png

[2018-11-29 19:04] jlariza opened #92 "Click on Play button after a pause restart the sound"
Good day,

I am using the [AWSSoundPlayer](https://github.com/kosmetism/react-soundplayer/blob/master/examples/players/AWSSoundPlayer.js) example to create a soundplayer.

However, everytime I click on the play button after I have paused the sound, it starts all over again, the `currentTime` goes back to zero. Is it possible to keep the time state?

Thank you

[2018-11-29 19:48] voronianski commented on #92
@jlariza are you sure that you pass all props properly? Also sharing code snippet would be helpful.

[2018-11-30 13:06] jlariza commented on #92
@voronianski I am using the same example, the only difference is that I am using a different url for the soundtrack.

[2018-12-07 21:13] hkjasf687261gh commented on #87
Hi, I also would love this feature to be able to seek through track with the progress bar for custom audio.

[2018-12-21 19:21] olliekav opened #93 "NextButton/PrevButton JS Error on playlist if you try to use them when a track isn't playing"
Firstly, thanks for this awesome library, managed to get a little showcase for my DJ mixes up really quickly. [https://dj.olliekav.com](https://dj.olliekav.com).

This error occurs on your example playlist player as well as in my code, when you try to next/prev if you haven't selected a track. So for example on first load a user could try to flick between the tracks before playing one.

`TypeError

[2018-12-22 07:59] davalapar commented on #88
Workaround: set a global `let` var to `true`, on first time the track gets available, call the `play()` function and put the var to `false` so the user will be able to `play` / `pause` using the buttons.

[code]

[2018-12-24 02:14] olliekav commented on #93
So to get around this (mainly as I wanted to set the first playlist track as active), I added...

`soundCloudAudio._playlistIndex = 0;`

In ComponentDidMount to get reference to the first track. No idea if this is correct but seems to be working :) Still getting my head around React!

[2019-01-03 15:15] #93 closed

[2019-02-04 10:04] olliekav commented on #81
@itsmidnightyo Not sure if you are still looking to do this, or if this helps anyone else but I hooked up Wavesurfer.js to generate the waveforms and React Soundplayer as the player here https://dj.olliekav.com, the GitHub repo is https://github.com/olliekav/dj.olliekav.com.

I'm still trying to fix an odd bug with setting the audio element for Wavesurfer so you'll see a couple of setTimeouts when

[2019-02-04 14:20] tbarshchovskyi-elopage commented on #92
+1, same issue. Any update here?

[2019-03-05 01:33] gregorskii opened #94 "Console warning on custom audio"
Hi,

I believe the custom audio component does not require a soundcloud api token. The console complains when using `withCustomAudio`.

Output:

[code]

Is it possible to use this player to play basic audio without soundcloud?

[2019-03-13 16:08] jpfiorilla opened #95 "401 unauthorized"
Did Soundcloud update their API recently? Noticed I'm getting this response from Soundcloud as of a week or two ago: https://imgur.com/leCz709

[2019-03-13 16:24] voronianski commented on #95
Sorry, but your question is not related to this project.

[2019-03-13 16:24] #95 closed

[2019-04-04 06:25] naveensomanna commented on #92
@jlariza I have the same issue did u get that solution?

[2019-04-13 16:35] ridhwaans opened #96 "Fix track duration for track url paths using ReadStream"
In the `SoundCloud.prototype.play = function (options) {` method of `react-soundplayer`, I have
[code]
which plays a track from a url path ending in `.mp3`. The track plays however the duration and progress bar do not work as expected.  it always shows `00:00/00:00` when the track is playing

for example, a preview_url has a url
`https://p.scdn.co/mp3-preview/136510b30afe553006aa8f5ef34fec48139f4f

[2019-04-20 02:18] ridhwaans opened #97 "Sound volume and Progress bar not aligned"
![image](https://user-images.githubusercontent.com/1103336/56450116-8d12bf80-62f0-11e9-9c21-9a241afeeff8.png)
As seen, expanded volume bar is not aligned at the center with the Progress bar
example render
[code]

[2019-05-08 15:25] bzhr opened #98 "Change song by updating resolveUrl prop"
I am trying to update the URL for the song that is playing by updating the `resolveUrl` prop, however, after the update SoundPlayer still playst the same song.

I set `resolveUrl` from the component state, something like this:
[code]

I know that I can pass a SC playlist, but I would like to be able to update this dynamically based on an event from songs that are not in a SC playlist. Is there a w

[2019-05-08 23:56] bzhr commented on #98
Some context about my use case: I want to build a global player, like the bottom player on soundcloud, I am using React Context for this.

[2019-05-12 03:17] xanderjakeq commented on #91
When you import a button (playButton for example) it gives you an empty button without icons.

A way you could render your custom icons is wrap it around the component tag. Like so
[code]
It might not show up yet on the page, but if you inspect it, you should be able to find the svg element inside a button. It will be a matter of giving your icon some styling (adding some width/heights n stuff)

[2019-05-12 04:43] xanderjakeq commented on #98
I ran into this problem and found a solution (maybe) thanks to this [solution on how to implement autoplay](https://github.com/kosmetism/react-soundplayer/issues/88#issuecomment-449553583).
Here's my whole component:
[code]
`soundCloudAudio.play({streamUrl})` will play the audio you have. Not sure if it will work with resolveUrl tho

[2019-05-12 16:42] xanderjakeq commented on #92
Having a similar issue. pause/play works fine at first, but when the streamUrl is changed, pause, then click play, it will play the previous streamUrl.

my whole component:
[code]

[2019-05-20 09:59] bzhr commented on #98
@xanderjakeq thanks for the reply. I will have a look and let you know if it solves my use case.

[2019-05-29 01:19] hassanamin994 commented on #92
I faced the same issue on the Progress example, a small workaround i used was to stop re-rendering the component by setting a key attribute on it

here's a code sample
`<ProgressSoundPlayer
       key={`progress-player-stream-${this.getStreamUrl()}`}
       streamUrl={this.getStreamUrl()}
/>`

and inside the ProgressSoundPlayer component, set a key attribute on all the sub components i used

`
cla

[2019-06-02 21:13] craigharvi3 opened #99 "Support starting from a different time"
The ability to pass in a `currentTime` as a prop would be awesome. So the audio can be started from a certain position.

[2019-06-30 18:22] voronianski commented on #96
@ridhwaans the code you're mentioning here

`let streamUrl = this._playlist.tracks.items[this._playlistIndex].url_path || this._playlist.tracks.items[this._playlistIndex].preview_url`

is from https://github.com/voronianski/soundcloud-audio.js

Also component, that [displays](https://github.com/kosmetism/react-soundplayer/blob/master/src/components/Timer.js#L34) the duration, [is receiving `curren

[2019-06-30 18:25] voronianski commented on #97
@ridhwaans what os/browser this screenshot is from?

[2019-06-30 18:27] voronianski commented on #94
@gregorskii yes, it's absolutely possible to use the player without SoundCloud `clientId`. Nevermind the warning so far. There's a plan to get rid of it.

[2019-06-30 18:41] voronianski commented on #84
@ridhwaans here's where seekiing behavior is happening -

https://github.com/kosmetism/react-soundplayer/blob/master/src/components/Progress.js#L12

You need to check then instance of HTML `audio` element and figure out is it missing these fields and why. Reference on the fields and their descriptions are available here - https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement.

[2019-06-30 18:43] voronianski commented on #83
Sounds unrelated to the lib. Let me know if the issue still occurs.

[2019-06-30 18:43] #83 closed

[2019-06-30 18:46] voronianski commented on #82
The aim of this lib is to provide a list if components which can be used as building blocks for the audio players in React. Developers are the ones that will decide what type of player they want to create.

If you need an example of how playlist player can be created please check this one - https://github.com/kosmetism/react-soundplayer/blob/master/examples/players/PlaylistSoundPlayer.js.

[2019-06-30 18:46] #82 closed

[2019-06-30 18:47] #81 closed

[2019-06-30 19:36] ridhwaans commented on #96
What do you mean by reproduction environment? the steps I can reproduce are:
1. create a small node express client running locally on port 5000 for example
2. use app.get function to expose a url endpoint that
    2a. opens a music file from filesystem address
    2b. returns readstream of file same as the code above
    2c. example url: localhost:5000/api/music_file1.mp3
3. Pass url path as react

[2019-06-30 19:38] ridhwaans commented on #97
@voronianski it is from latest chrome, Mac OS Mojave. It also happens on Windows 10

[2019-07-29 13:06] bzhr commented on #98
@xanderjakeq I have forked this library and added a function to load a new song.
This works fine expect when I want to play the next song with auto-play, without stopping. What happens is that the previous song will continue to play unless I press pause and then play again.

I think that what's happening is that the playback is continued before the new song is fully loaded, I don't know how to wai

[2019-07-30 12:17] bzhr commented on #98
I solved this by simulating two mouse clicks.
First one pauses the player, second one fires after a 0.5sec. timeout, enough for the new song to be loaded. Works perfectly, I now have a Global Soundcoud player with custom playlists that play uninterruptedly.

[2019-08-01 15:06] inzy007 opened #101 "Player not re-rendering when parent is re-rendered"
I have a parent component which calls a child component which in turn renders the sound player using 'withCustomAudio'. The parent component has a list of playable audio sources (links) and when each source is clicked, the child component is re-rendered by passing the stream URL as props. Now I am able to confirm that the props (ex. streamUrl) are being updated in the child component; however the

[2019-08-17 22:58] ridhwaans commented on #96
has there been any fixes/investigation?

[2019-08-17 22:58] ridhwaans commented on #97
has there been any fixes/investigation?

[2019-08-23 22:42] sbrichardson commented on #101
Do you invoke the `withCustomAudio` function inside the render function?

[code]

[2019-08-24 02:28] sbrichardson commented on #88
@davalapar, I would change the global to a flag on the component instance (this.autoplay), since multiple instances on the same page, or different pages that should keep auto playing would be affected by the one global. It could need a higher state manager though since only one player should auto play etc. Another fix is to, toggle the flag back to true on unmount.

[2019-08-24 02:29] sbrichardson commented on #87
This works currently, I’m not having any issues.

[2019-08-25 22:02] sbrichardson commented on #94
You can pass a random string to silence it. `clientId="xxx"`

[2019-08-26 06:00] inzy007 commented on #101
Thank you for the feedback! This helps.

[2019-08-26 06:00] #101 closed

[2019-09-04 02:06] timi-codes opened #103 "Unhandled Promise Rejection: NotSupportedError: The operation is not supported with .ogg files with"
How do I successfully play a .ogg file?

[2019-10-02 06:15] beamercola opened #104 "Pause then Play restarting"
I'm having an issue when i click to pause the player, then click again, it starts over from 0:00 - is this the intended behavior?  Is there a way to resume from current position?

[code]

[2019-10-07 20:46] beamercola opened #105 "Is there a loading state?"
I'm having a 2+ second delay when pressing pause to when it starts playing (mp3 file on s3).  Is there a loading state?  Or the ability to preload?

[2019-11-27 16:43] rsxdalv commented on #92
Tried the key method, but can't get it to stop rerendering

[2019-12-15 09:27] rsxdalv commented on #104
I tried the workaround with full url including the scheme, but it doesn't work during production.

[2019-12-15 10:16] rsxdalv commented on #104
Actually, if the url is _proper_ then it works. So make sure your url looks more like this: `https://example.org/path/to/file.mp3` and unlike these: `https://example.org/./path/to/file.mp3` `./path/to/file.mp3`

I think this is the black magic that drops the ball (from soundcloud-audio package)

[code]

[2020-01-02 11:55] gcmatheusj opened #106 "Progress bar"
Hello, guys!

In my project, progress bar doesn't appear.

[2020-01-04 06:47] DugganB commented on #95
Wondering if you found a fix for this? It is very related to this project

[2020-03-03 07:50] Virtycle opened #108 "document to lose effectiveness"
please check document link what has no effectiveness

[2020-06-15 01:48] DalerAsrorov opened #111 "Docs page show "This site can’t be reached""
The docs website cannot be reached. Either the link is broken or the website is not functional anymore. Would be great to have it back. Thank you!

https://labs.voronianski.com/react-soundplayer

[2020-06-15 11:26] diamond-darrell commented on #111
more to it, if you click `on the website` link  from the examples section it leads to some scum site

[2020-06-15 14:58] voronianski commented on #111
sorry for inconvenience, I've updated the link - https://labs.voronianski.dev/react-soundplayer/

[2020-06-15 14:58] #111 closed

[2020-06-15 14:58] voronianski commented on #108
https://labs.voronianski.dev/react-soundplayer/

[2020-06-15 14:58] #108 closed

[2020-06-15 15:03] #41 closed

[2020-06-15 15:05] voronianski commented on #98
fixed via - https://github.com/kosmetism/react-soundplayer/pull/102

[2020-06-15 15:05] voronianski commented on #86
fixed via - https://github.com/kosmetism/react-soundplayer/pull/102

[2020-06-15 15:05] #86 closed

[2020-06-15 15:05] #98 closed

[2020-06-15 15:05] voronianski commented on #99
added via - https://github.com/kosmetism/react-soundplayer/pull/102

[2020-06-15 15:06] #99 closed

[2020-06-15 15:06] #87 closed

[2020-07-04 11:57] devpascoe commented on #94
I don't think that works anymore. When i do i get "Uncaught (in promise) DOMException: The element has no supported sources." in console when i click play.

[2020-08-27 11:11] dogdogbrother opened #121 "i'm sorry,how do I use Typescript?"
this import is error:
[code]
but this import is success:
[code]
I don't know at path `/` import is error,why?
my english is bad,please forgive me.

[2020-11-03 10:47] jxsd-muyezi opened #122 "安装问题"
npm包在项目中引入提示包不存在

[2020-12-26 00:45] yuredev commented on #92
I am facing the same issue.

[2021-08-06 04:04] abdipramana opened #134 "403 Forbidden"
Yesterday all look very well, but today I got this response from SoundCloud API when fetching `https://api.soundcloud.com/resolve.json?url=YYY&client_id=XXX`, that's make the song not loaded.

I saw react-soundplayer examples, having the same issue (as I remember, the example worked before *CMIIW).

Wondering to know did SoundCloud update their API recently? Also, has anyone here found this issue

[2021-08-09 10:19] jonaseriksson84 commented on #134
Though I haven't figured out how to work around it yet, it's likely related to this: https://developers.soundcloud.com/blog/security-updates-api

[2021-09-18 08:38] LordJohn42 commented on #121
Hello. Please describe a message error.

[2021-09-18 10:42] LordJohn42 commented on #134
So. Need to refactor to new api i think. Sorry for my English.

[2021-10-28 17:38] obiknows commented on #106
SAME!

[2021-11-17 20:02] wyhinton opened #137 "Type Decs Exported?"
I'm using react-soundplayer with typescript, but I'm not seeing any type definitions in VSCode, yet I see that you have an ```index.d.ts``` file. What I need to do to get the types to start working?

[2021-11-24 05:49] eg9y commented on #106
Any update on this? @obiknows  @gcmatheusj

[2022-02-15 06:06] Handsoff-studio commented on #94
Are you able to resolve the issue? I am encountering the same problem.

[2022-10-02 21:23] #89 closed